:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  /* max-width: 1280px; */
  /* text-align: center; */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


:root{
  --blue: #93BBBF;
  --orange: #F26430;
  --pink: #F28F6B;
  --read: #590202;
  --coffe: #260101;
}



body{
  overflow: hidden;
}

#app{
  display: grid;
  grid-template-columns: 2fr 10fr;
  width: 100%;
}

.main-navbar{
  width: 100%;
  background: #686868;
  overflow: hidden auto;
}

.information{
  min-height: 100vh;
  width: 100%;
  background: #e28e8e;
  overflow: hidden auto;

  .information-header{
    width: 100%;
    /* height: 100px; */
    background: #13131379;

    h2{
     margin: 0;
     text-align: center;
     color: white;
    }
  }

  .information-table{
    display: flex;
    width: 100%;
    padding: 12px;
    align-items: center;
    justify-content: center;
  }
}

.options-main{
  padding: 0 12px;

  details{
    summary, ul{
      color: white; 
    }

    li{
      list-style: none;
      cursor: pointer;

      transition: all 0.3s;

      &:hover{
        color: #535bf2;
      }
    }
  }
}

.navbar-header{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 0;
  img{
    width: 100px;
    height: 100px;
    background: rgb(214, 39, 214);
    border: none;
  }
}


table{
  border: 1px solid;
  border-collapse: collapse;
  background: #0000003d;

  th, td {
    border: 1px solid;
    padding: 8px 4px;
  }

  td{
    text-align: center;

    i{
      border-radius: 4px;
      padding: 4px;
      font-size: 20px;
      cursor: pointer;
    }
    .bi-plus-circle{
      background: #2da0ff;
    }

    .bi-trash{
      background: #fa3b3b;
    }
  }
}




@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


@media (width < 900px) {
  
  #app{
    grid-template-columns: 5fr 7fr;
}
}