:root {
  --blue: #93BBBF;
  --orange: #F26430;
  --pink: #F28F6B;
  --read: #590202;
  --coffe: #260101;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;
}

#app {
  display: grid;
  grid-template-columns: 2fr 10fr;
  width: 100%;
}

.main-navbar {
  width: 100%;
  background: var(--coffe);
  overflow: hidden auto;
}

.information, .market{
  min-height: 100vh;
  width: 100%;
  background: var(--pink);
  overflow: hidden auto;

  .information-header {
    width: 100%;
    /* height: 100px; */
    background: #13131379;

    h2 {
      margin: 0;
      text-align: center;
      color: white;
    }
  }

  .information-table {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 12px;
    align-items: center;
    justify-content: center;
  }
}

.options-main {
  padding: 0 12px;

  details {
    summary,
    ul {
      color: var(--orange);
      cursor: pointer;
      transition: all 0.2s;
      user-select: none;
    }

    li {
      list-style: none;
      transition: all 0.3s;
    }

    li:hover, summary:hover {
      color: var(--blue);
    }
  }

  details[open]{
    transition: all 0.2s;
    background: rgba(255, 255, 255, 0.192);
    border-radius: 4px;

    summary {
     padding: 4px;
     background: rgba(255, 255, 255, 0.192);
     border-radius: 4px;
    }

    ul{
      padding-bottom: 20px;
      animation: move-mondiu 0.5s ease-out;
    }
  }
  
} 

@keyframes move-mondiu {
  from{
    margin-block: 0em;
    padding-inline-start: 0;
  }

  to{
    margin-block: 1em;
    padding-inline-start: 40px;
  }
}



.navbar-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 0;

  img {
    width: 100px;
    height: 100px;
    background: var(--blue);
    clip-path: circle();
    border: none;
    text-align: center;
  }
}


table {
  border: 1px solid white;
  border-collapse: collapse;
  background: #0000003d;
  color: white;

  th,
  td {
    border: 1px solid white;
    padding: 8px 4px;
  }

  td {
    text-align: center;

    i {
      border-radius: 4px;
      padding: 4px;
      font-size: 20px;
      cursor: pointer;
    }

    .bi-plus-circle {
      background: #2da0ff;
    }

    .bi-trash {
      background: #fa3b3b;
    }
  }
}


.new-item{
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 12px;
  background: var(--coffe);
  color: wheat;
  margin: 20px 0;

  input[type="submit"]{
    background: var(--orange);
    border: none;
    color: var(--read);
  }
}

#app:has(>.market){
  display: block;
}

.market{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.card-market{
  --h-size: 300px;

  width: var(--h-size);
  background: var(--orange);
  border-radius: 5px;
  height: min-content;

  img{
    margin-top: 20px;
    width: var(--h-size);
    height: 200px;
    background: #FFFFFF;
    border: none;
  }
  
  .card-market-description{
    padding: 20px;
    
  }
}